
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
html,body{
  height: 100%;
}



.wrap{
  display: grid;
  grid-template-rows: 10% auto;
  justify-items: center;
  align-items: start;

  height: 95%;
}
.container{
  display: flex;
  flex-direction: column;

}
#canvas{
  outline: solid 0.5px ;
}