
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}




.wrap{
    display: grid;
    grid-template-columns: 14% auto;
    align-items: start;
    gap: 3%;
}
.container{
    display: flex;
    flex-direction: column;
}
#canvas{
    justify-self: center;
    border: solid;
}